.footer {
    margin-top: 5rem;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 3rem;
    background-color: blanchedalmond;
    color: rgb(58, 3, 3);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}


@media screen and (max-width: 550px) {
    .footer {
        width: 30rem;
        margin-left: 3.5rem;
    }
}