.footer {
    position: fixed;
    bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: blanchedalmond;
    padding: 10px;
    color: rgb(58, 3, 3);
}

.doneTask {
    float: left;
}

.totalTask {
    float: right;
    margin-right: 20px;
}