.list{
    background-color: rgb(225, 236, 247);
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 600px;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 30px;
    font-weight: bold;
}